


<div class="feature">
        <header class="feature__header">
          <h2 class="feature__subtitle">Cadastro de Maquinas</h2>
        </header>
        <div class="feature__content">
          <form id="locationForm">
            <p>
              <label for="inputPmae">Placa mae:</label>
              <input type="text" name="pmae" id="inputPmae" />
            </p>
            <p>
              <label for="inputPcpu">Processador:</label>
              <input type="text" name="longitude" id="inputPcpu" />
            </p>
            <p>
              <label for="inputRam">Memória Ram:</label>
              <input type="text" name="city" id="inputRam" />
            </p>

            <p>
              <label for="inputFonte">Fonte</label>
              <input type="text" name="city" id="inputFonte" />
            </p>
             <p>
              <label for="InputHd">Hard Disk</label>
              <input type="text" name="city" id="InputHd" />
            </p>
            <input type="submit" value="Save" />
          </form>
          <p>Database status: <span id="output-db"></span></p>
        </div>
      </div>
  